.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 960px; */
  /* min-width: 960px; */
}

.gridItem {
  /* width: 20px; */
  width: 2.08333%;
  padding-top: 2.08333%;
  box-sizing: border-box;
  display: flex;
  /* height: 20px; */
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 8px;
  background-color: #C8C8C8;
}
.gridItemBorder {
  border: dotted 1px #ddd;
  padding-top: calc(2.08333% - 2px);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.options {
  display: flex;
  margin-bottom: 2rem;
}

.colorChoice {
  height: 32px;
  width: 32px;
  margin: 1rem;
  border: solid 1px #737373;
  cursor: pointer;
}


.code {
  display: block;
  max-height: 100px;
  overflow: scroll;
  border: solid 2px blue;
}

.output {
  word-break: break-word;
  margin: 0;
  font-size: 10px;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  opacity: 0.9;
  pointer-events: none;
  top: 0;
  left: 0;
}

.overlay1 {
  background-color: #19983f;
}
.overlay2 {
  background-color: #2679ff;
}
.overlay3 {
  background-color: #ff4718;
}
.overlay4 {
  background-color:#ffb22d;
}
.overlay5 {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}